In [1]:
import pandas as pd

def load_data():
    url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
    html = pd.read_html(url, header= 0)
    df = html[0]
    return df

In [2]:
df = load_data()
df

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,1524472,2011
499,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
501,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [3]:
sector = df['GICS Sector']
len(sector)

503

In [4]:
# aggregating the data 

sector = df.groupby('GICS Sector')
sector.first()

,Symbol,Security,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
GICS Sector,,,,,,,
Communication Services,GOOGL,Alphabet Inc. (Class A),Interactive Media & Services,"Mountain View, California",2014-04-03,1652044,1998
Consumer Discretionary,ABNB,Airbnb,"Hotels, Resorts & Cruise Lines","San Francisco, California",2023-09-18,1559720,2008
Consumer Staples,MO,Altria,Tobacco,"Richmond, Virginia",1957-03-04,764180,1985
Energy,APA,APA Corporation,Oil & Gas Exploration & Production,"Houston, Texas",1997-07-28,1841666,1954
Financials,AFL,Aflac,Life & Health Insurance,"Columbus, Georgia",1999-05-28,4977,1955
Health Care,ABT,Abbott Laboratories,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
Industrials,MMM,3M,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
Information Technology,ACN,Accenture,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
Materials,APD,Air Products,Industrial Gases,"Upper Macungie Township, Pennsylvania",1985-04-30,2969,1940
Real Estate,ARE,Alexandria Real Estate Equities,Office REITs,"Pasadena, California",2017-03-20,1035443,1994
Utilities,AES,AES Corporation,Independent Power Producers & Energy Traders,"Arlington, Virginia",1998-10-02,874761,1981

In [5]:
sector.describe()

                         CIK                                                   \
                       count          mean            std      min        25%
GICS Sector
Communication Services  22.0  1.150190e+06  503816.763824  29989.0  833146.75
Consumer Discretionary  50.0  9.379188e+05  427268.166249  37996.0  824118.00
Consumer Staples        38.0  4.932800e+05  659308.763424   7084.0   27947.75
Energy                  22.0  9.111103e+05  664879.244209   4447.0   96873.25
Financials              73.0  7.543031e+05  564647.731838   4962.0   80661.00
Health Care             61.0  8.441568e+05  549160.963686   1800.0  313616.00
Industrials             78.0  7.377583e+05  628383.327630   4281.0   79229.75
Information Technology  69.0  9.123996e+05  495663.864776   2488.0  769397.00
Materials               28.0  8.470378e+05  713987.434946   2969.0   67840.25
Real Estate             31.0  9.564368e+05  373794.645688  34903.0  892604.00
Utilities               31.0  8.730384e+05  477431.209001   4904.0  742555.00


                              50%         75%        max
GICS Sector
Communication Services  1225195.0  1564708.00  1754301.0
Consumer Discretionary   943392.5  1173694.00  1590895.0
Consumer Staples          78950.0   929235.25  1996862.0
Energy                  1037343.0  1509298.00  1841666.0
Financials               895421.0  1140536.00  2012383.0
Health Care              885725.0  1100682.00  1964738.0
Industrials              794698.0  1228521.00  1996810.0
Information Technology   898293.0  1327567.00  1730168.0
Materials                915994.5  1419355.00  2005951.0
Real Estate             1034054.0  1067255.50  1705696.0
Utilities                922224.0  1078609.50  1868275.0

In [6]:
sector.get_group('Health Care')

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
9,A,Agilent Technologies,Health Care,Life Sciences Tools & Services,"Santa Clara, California",2000-06-05,1090872,1999
15,ALGN,Align Technology,Health Care,Health Care Supplies,"Tempe, Arizona",2017-06-19,1097149,1997
32,AMGN,Amgen,Health Care,Biotechnology,"Thousand Oaks, California",1992-01-02,318154,1980
...,...,...,...,...,...,...,...,...
473,VTRS,Viatris,Health Care,Pharmaceuticals,"Pittsburgh, Pennsylvania",2004-04-23,1792044,1961
486,WAT,Waters Corporation,Health Care,Life Sciences Tools & Services,"Milford, Massachusetts",2002-01-02,1000697,1958
490,WST,West Pharmaceutical Services,Health Care,Health Care Supplies,"Exton, Pennsylvania",2020-05-22,105770,1923
501,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [11]:
import yfinance as yf 

data = yf.download(
    tickers = list(df.Symbol),
    period = '1y',
    interval= '1d',
    group_by= 'ticker',
    auto_adjust= True, 
    prepost= True, 
    threads = True,
    proxy = None
)
# wiki compatability issue, worked first time then failed second time with same code

[**********************92%*******************    ]  464 of 503 completedFailed to get ticker 'BRK.B' reason: Expecting value: line 1 column 1 (char 0)
[*********************100%***********************]  503 of 503 completed

503 Failed downloads:
['ZBRA', 'PNC', 'LEN', 'PCG', 'MCK', 'ETR', 'IRM', 'WAT', 'VST', 'AFL', 'HBAN', 'TROW', 'UDR', 'DPZ', 'PAYC', 'MSFT', 'WMT', 'ROK', 'BA', 'PANW', 'RVTY', 'GWW', 'GRMN', 'BF.B', 'L', 'COP', 'EMN', 'LRCX', 'FIS', 'ISRG', 'KVUE', 'AMT', 'KIM', 'EQIX', 'IEX', 'MDT', 'ANSS', 'STX', 'PM', 'JBHT', 'WRB', 'KMI', 'WDAY', 'DTE', 'PYPL', 'ROST', 'PAYX', 'KEY', 'SYK', 'BSX', 'DFS', 'CTVA', 'CTAS', 'BAC', 'ROP', 'DIS', 'CAH', 'FDX', 'UHS', 'TFX', 'SPG', 'TXT', 'UAL', 'MTB', 'AZO', 'RSG', 'SBAC', 'HLT', 'IFF', 'DAL', 'NI', 'MCHP', 'SHW', 'GNRC', 'MAR', 'PFG', 'PPG', 'MPWR', 'MDLZ', 'CB', 'ENPH', 'CFG', 'RF', 'AXON', 'CCL', 'AME', 'NDAQ', 'EOG', 'VZ', 'JNPR', 'IT', 'GEHC', 'LMT', 'DOC', 'APO', 'SWKS', 'TPR', 'AMD', 'ABT', 'RCL', 'MCO', 'BBY', 'POOL', 'TMO', 'FAST', 'AWK', 'GDDY', 'MA', 'LYV', 'GPN', 'APD', 'ABBV', 'AON', 'CPT', 'CHD', 'CMG', 'LIN', 'RL', 'WTW', 'PLD', 'MAS', 'EXPD', 'TFC', 'BXP', 'CHRW', 'LVS', 'CL', 'CMCSA', 'EVRG', 'DECK', 'VTR', 'DE', 'PGR', 'BMY', 'LII', 'CNC', 'MRNA', 'PNW', 'PEP', 'FANG', 'CVX', 'ABNB', 'MTD', 'VLO', 'MOS', 'UNH', 'GD', 'CHTR', 'GLW', 'STE', 'LDOS', 'AAPL', 'NWS', 'CCI', 'BLDR', 'IPG', 'CBRE', 'GOOGL', 'VRSK', 'APH', 'EL', 'FTV', 'MOH', 'EA', 'CBOE', 'UBER', 'HUM', 'ADI', 'NCLH', 'BX', 'INVH', 'AES', 'ROL', 'PH', 'BLK', 'TYL', 'DD', 'ECL', 'TPL', 'ACN', 'REG', 'FOXA', 'AEP', 'RJF', 'INTU', 'WY', 'TRMB', 'SNA', 'TDG', 'CRWD', 'CSX', 'AOS', 'GOOG', 'COST', 'ADM', 'ERIE', 'MAA', 'ES', 'GEV', 'TT', 'ODFL', 'BKR', 'MLM', 'BG', 'WAB', 'F', 'EXPE', 'MCD', 'HST', 'JBL', 'BR', 'TSN', 'ICE', 'TAP', 'ALB', 'TRV', 'NRG', 'MTCH', 'FTNT', 'MRK', 'WFC', 'FE', 'PODD', 'TJX', 'ORLY', 'IVZ', 'XOM', 'WBA', 'WEC', 'FICO', 'MU', 'AIG', 'COR', 'IBM', 'ACGL', 'BWA', 'LHX', 'PLTR', 'LULU', 'NDSN', 'COF', 'MSI', 'KDP', 'UNP', 'CF', 'NTRS', 'T', 'NEE', 'TDY', 'WM', 'SBUX', 'LLY', 'DELL', 'SNPS', 'PARA', 'JKHY', 'EQR', 'TRGP', 'ELV', 'LOW', 'ULTA', 'AEE', 'MMC', 'CINF', 'HIG', 'DHI', 'ADSK', 'SWK', 'GIS', 'HRL', 'CNP', 'DOV', 'JNJ', 'TSLA', 'DOW', 'QCOM', 'BALL', 'MPC', 'ETN', 'HAL', 'MKTX', 'GS', 'LW', 'IR', 'INCY', 'LKQ', 'WYNN', 'CAG', 'CAT', 'WELL', 'PCAR', 'NEM', 'KKR', 'NVDA', 'NXPI', 'CVS', 'DRI', 'ALLE', 'HPQ', 'BEN', 'CSGP', 'EBAY', 'GILD', 'BIIB', 'PPL', 'MET', 'TECH', 'COO', 'FITB', 'LYB', 'KHC', 'ORCL', 'PSX', 'CPB', 'DAY', 'KMX', 'BKNG', 'OMC', 'ALGN', 'MS', 'EFX', 'WMB', 'META', 'NVR', 'SOLV', 'PSA', 'HWM', 'PKG', 'AVGO', 'AKAM', 'EPAM', 'AIZ', 'TSCO', 'KEYS', 'HSIC', 'OTIS', 'CE', 'AMAT', 'ANET', 'IQV', 'IDXX', 'STLD', 'DLR', 'JPM', 'MSCI', 'AMZN', 'CTSH', 'FSLR', 'WDC', 'HAS', 'EQT', 'STT', 'KLAC', 'CSCO', 'CZR', 'SLB', 'BK', 'GEN', 'VMC', 'NOW', 'TMUS', 'CPRT', 'TGT', 'ESS', 'HON', 'K', 'VICI', 'AMGN', 'FDS', 'EG', 'VTRS', 'NOC', 'CPAY', 'CME', 'STZ', 'DLTR', 'DUK', 'BDX', 'DHR', 'PTC', 'GPC', 'RTX', 'NUE', 'DG', 'HD', 'UPS', 'HOLX', 'INTC', 'CEG', 'AVB', 'MHK', 'GM', 'FFIV', 'PHM', 'CDW', 'RMD', 'TEL', 'ED', 'BAX', 'SJM', 'ALL', 'EW', 'LH', 'HII', 'HCA', 'YUM', 'HPE', 'CMS', 'AXP', 'A', 'KR', 'FRT', 'NKE', 'SYF', 'CDNS', 'USB', 'MMM', 'KO', 'DVN', 'HUBB', 'AMCR', 'ZTS', 'SYY', 'NTAP', 'CMI', 'NWSA', 'FI', 'HSY', 'LNT', 'MO', 'LUV', 'ITW', 'URI', 'XEL', 'CI', 'MKC', 'CLX', 'EXC', 'ADBE', 'AVY', 'GE', 'AJG', 'CRL', 'PFE', 'JCI', 'FMC', 'ATO', 'APA', 'SRE', 'FCX', 'TER', 'ARE', 'WST', 'GL', 'WBD', 'APTV', 'CTRA', 'HES', 'PG', 'MGM', 'SPGI', 'DVA', 'EXR', 'AMP', 'DGX', 'ADP', 'SCHW', 'KMB', 'PRU', 'PEG', 'CARR', 'SW', 'VRSN', 'VLTO', 'IP', 'REGN', 'XYL', 'BRO', 'BRK.B', 'EIX', 'NFLX', 'VRTX', 'SMCI', 'TTWO', 'C', 'TXN', 'OXY', 'OKE', 'ZBH', 'PNR', 'MNST', 'CRM', 'V', 'NSC', 'PWR', 'DXCM', 'FOX']: JSONDecodeError('Expecting value: line 1 column 1 (char 0)')
['O']: JS%ticker%NDecodeError('Expecting value: line 1 column 1 (char 0)')
['ON']: JS%ticker%DecodeError('Expecting value: line 1 column 1 (char 0)')
['SO']: J%ticker%NDecodeError('Expecting value: line 1 column 1 (char 0)')
['EMR']: ConnectionError(MaxRetryError('HTTPSConnectionPool(host=\'query1.finance.yahoo.com\', port=443): Max retries exceeded with url: /v1/test/getcrumb (Caused by NameResolutionError("<urllib3.connection.HTTPSConnection object at 0x0000017855E9F350>: Failed to resolve \'query1.finance.yahoo.com\' ([Errno 11001] getaddrinfo failed)"))'))
['J']: %ticker%SONDecodeError('Expecting value: line 1 column 1 (char 0)')
['D']: JSON%ticker%ecodeError('Expecting value: line 1 column 1 (char 0)')

In [8]:
data

Empty DataFrame
Columns: [(ETR, Open), (ETR, High), (ETR, Low), (ETR, Close), (ETR, Adj Close), (ETR, Volume), (BA, Open), (BA, High), (BA, Low), (BA, Close), (BA, Adj Close), (BA, Volume), (PCG, Open), (PCG, High), (PCG, Low), (PCG, Close), (PCG, Adj Close), (PCG, Volume), (MSFT, Open), (MSFT, High), (MSFT, Low), (MSFT, Close), (MSFT, Adj Close), (MSFT, Volume), (TROW, Open), (TROW, High), (TROW, Low), (TROW, Close), (TROW, Adj Close), (TROW, Volume), (RVTY, Open), (RVTY, High), (RVTY, Low), (RVTY, Close), (RVTY, Adj Close), (RVTY, Volume), (DPZ, Open), (DPZ, High), (DPZ, Low), (DPZ, Close), (DPZ, Adj Close), (DPZ, Volume), (ZBRA, Open), (ZBRA, High), (ZBRA, Low), (ZBRA, Close), (ZBRA, Adj Close), (ZBRA, Volume), (LEN, Open), (LEN, High), (LEN, Low), (LEN, Close), (LEN, Adj Close), (LEN, Volume), (ROK, Open), (ROK, High), (ROK, Low), (ROK, Close), (ROK, Adj Close), (ROK, Volume), (MCK, Open), (MCK, High), (MCK, Low), (MCK, Close), (MCK, Adj Close), (MCK, Volume), (GWW, Open), (GWW, High), (GWW, Low), (GWW, Close), (GWW, Adj Close), (GWW, Volume), (AFL, Open), (AFL, High), (AFL, Low), (AFL, Close), (AFL, Adj Close), (AFL, Volume), (HBAN, Open), (HBAN, High), (HBAN, Low), (HBAN, Close), (HBAN, Adj Close), (HBAN, Volume), (UDR, Open), (UDR, High), (UDR, Low), (UDR, Close), (UDR, Adj Close), (UDR, Volume), (WAT, Open), (WAT, High), (WAT, Low), (WAT, Close), (WAT, Adj Close), (WAT, Volume), (IRM, Open), (IRM, High), (IRM, Low), (IRM, Close), ...]
Index: []

[0 rows x 3018 columns]

In [9]:
df

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,1524472,2011
499,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
501,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952